body, html {
    height: 100%
}
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://kiri-tavaga.github.io/blog/images/Quarry.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    }
    .responsive {
        width: 100%;
        height: auto;
    }
    .hero-text {
        position: absolute;
        color: grey;
        }
        .list {
        position: absolute;
        color: grey;
        }
    body {
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Open sans", sans-serif;
    color: grey
    }
    h1, h2, h5, {
    color: grey;
    }
    p {
    color: whitesmoke;
    }
    