body, html {
    height: 100%
}
.hero-image {
    background-image: url("images/Tongariro.jpg");
    }
    .responsive {
        width: 100%;
        height: auto;
    }
    @media (min-width: 400px) {
        .container {
          width: 85%;
          padding: 0; }
      }
    @media (min-width: 550px) {
        .container {
          width: 80%; }
        .column,
        .columns {
          margin-left: 4%; }
        .column:first-child,
        .columns:first-child {
          margin-left: 0; }
        }
h1, h5, p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: grey;
}
header {
    background-color: burlywood
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.hero-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/Quarry.jpg");
        height: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        }
        .responsive {
            width: 100%;
            height: auto;
        }
    body {
        font-size: 1.5em;
        line-height: 1.6;
        font-weight: 400;
        font-family: "Open sans", sans-serif;
        color: grey
    }
    h1, h2, h5, p {
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        text-transform: uppercase;
        color: grey;
    }
    .hero-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: grey;
        }
* {
    box-sizing: border-box;}
.flex-container {
    content: "images/wireframe-index-page-mobile.jpg";
    content: "images/wireframe-blog-page-mobile.jpg";
    display: flex;
    flex-direction: row;
    justify-content: center;
}
ul {
    list-style-position: inside;
    list-style-type: disc;
    text-align: center;
    position: absolute;
}
.list {
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: grey;
    }
.row::after {
    content: "images/wireframe-index-page-mobile.jpg";
    clear: both;
    display: table;
    }
