body, html {
    height: 100%
}
.hero-image {
    background-image: url("https://kiri-tavaga.github.io/images/Tongariro.jpg");
    }
    .responsive {
        width: 100%;
        height: auto;
    }
    @media (min-width: 400px) {
        .container {
          width: 85%;
          padding: 0; }
      }
    @media (min-width: 550px) {
        .container {
          width: 80%; }
        .column,
        .columns {
          margin-left: 4%; }
        .column:first-child,
        .columns:first-child {
          margin-left: 0; }
        }
h1, {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color:grey;
}
h5, p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color:white;
}
header {
    background-color: burlywood
}